// Contains all elements of OpenDark which define images

QAbstractSpinBox {
    &::up-arrow {
        image: url(qss:images_dark-light/light_up_arrow.svg);
        &:disabled {
            image: url(qss:images_dark-light/light_up_arrow_disabled.svg);
        }
    }
    &::down-arrow {
        image: url(qss:images_dark-light/light_down_arrow.svg);
        &:disabled {
            image: url(qss:images_dark-light/light_down_arrow_disabled.svg);
        }
    }
}

QCheckBox {
    &::indicator {
        &:checked {
            image:url(qss:images_dark-light/OpenDark_check.svg);
        }
    }
}

QComboBox {
    &::down-arrow {
        image: url(qss:images_dark-light/light_down_arrow.svg);
        &:disabled {
            image: url(qss:images_dark-light/light_down_arrow_disabled.svg);
        }
    }
}

QdockWidget {
    titlebar-close-icon: url(qss:images_dark-light/close_light.svg);
    titlebar-normal-icon: url(qss:images_dark-light/light_light.svg);
}

QGroupBox {
    &::indicator {
        &:checked {
            image:url(qss:images_dark-light/OpenDark_check.svg);
        }
    }
}

QList {
    &::indicator {
        &:checked {
            image: url(qss:images_dark-light/OpenDark_check.svg);
            &:disabled {
                image: url(qss:images_dark-light/check_light_disabled.svg);
            }
        }
    }
}

QListView {
    @extend QList;
}

QMenu {
    &::indicator {
        &:checked {
            image:url(qss:images_dark-light/checkbox_light.svg);
        }
    }
}

QRadioButton {
    &::indicator {
        &:checked {
            image:url(qss:images_dark-light/radiobutton_light.svg);
        }
    }
}

QScrollBar {
    &::sub-line {
        &:vertical {
            border-image: url(qss:images_dark-light/light_up_arrow.svg);
        }
        &:horizontal:horizontal {
            border-image: url(qss:images_dark-light/light_left_arrow.svg);
        }
    }
    &::add-line {
        &:vertical {
            border-image: url(qss:images_dark-light/light_down_arrow.svg);
        }
        &:horizontal {
            border-image: url(qss:images_dark-light/light_right_arrow.svg);
        }
    }
}

QSizeGrip {
    image:url(qss:images_dark-light/light_sizegrip.svg);
}

QTabBar {
    &::close-button {
        background-image: url(qss:images_dark-light/close_light.svg);
    }
}

QTree {
    @extend QList;
}


QTreeView{
    @extend QList;
}

QTreeView::branch {
    background:  transparent;
}

QTreeView::branch:has-siblings:!adjoins-item  {
    border-image: url(qss:images_dark-light/branch_vline_OpenDark.svg) 0;
}

QTreeView::branch:has-siblings:adjoins-item  {
    border-image: url(qss:images_dark-light/branch_more_OpenDark.svg) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item  {
    border-image: url(qss:images_dark-light/branch_end_OpenDark.svg) 0;
}

QTreeView::branch:closed:has-children:has-siblings  {
    border-image: none;
    image: url(qss:images_dark-light/branch_more_closed_OpenDark.svg) 0;
}

QTreeView::branch:has-children:!has-siblings:closed  {
    border-image: none;
    image: url(qss:images_dark-light/branch_end_closed_OpenDark.svg) 0;
}

QTreeView::branch:open:has-children:has-siblings  {
    border-image: url(qss:images_dark-light/branch_vline_open_OpenDark.svg) 0;
    image: url(qss:images_dark-light/branch_more_open_OpenDark.svg) 0;
}

QTreeView::branch:open:has-children:!has-siblings  {
    border-image: none;
    image: url(qss:images_dark-light/branch_end_open_OpenDark.svg) 0;
}

QToolBarExtension {
    qproperty-icon: url(qss:images_dark-light/light_expand.svg);
}

QToolButton {
    &::menu-arrow {
        image: url(qss:images_dark-light/light_more_arrow.svg);
    }
}

QSint--ActionGroup QFrame[class="header"] QLabel {
    background-image: url(qss:images_dark-light/light_down_arrow.svg);
}

QSint--ActionGroup QFrame[class="header"] QLabel[fold="true"] {
    background-image: url(qss:images_dark-light/light_up_arrow.svg);
}

Gui--OverlayToolButton {
    image: url(qss:overlay/close_opendark.svg);
        &:hover {
            image: url(qss:overlay/closehover_opendark.svg);
        }
}

Gui--OverlayToolButton[objectName="OBTN Transparent"] {
    image: url(qss:overlay/transparent_opendark.svg);
        &:hover {
            image: url(qss:overlay/transparenthover_opendark.svg);
        }
}

Gui--OverlayToolButton[objectName="OBTN Overlay"] {
    image: url(qss:overlay/overlay_opendark.svg);
        &:hover {
            image: url(qss:overlay/overlayhover_opendark.svg);
        }
}

Gui--OverlayToolButton[objectName="OBTN AutoMode"] {
    image: url(qss:overlay/mode_opendark.svg);
        &:hover {
            image: url(qss:overlay/modehover_opendark.svg);
        }
}

Gui--OverlaySplitterHandle Gui--OverlayToolButton,
Gui--OverlayToolButton[objectName="OBTN Float"] {
    image: url(qss:overlay/float_opendark.svg);
        &:hover {
            image: url(qss:overlay/floathover_opendark.svg);
        }
}

QToolButton#buttonPauseUpdate { //this is the cancel cache update button in addon-manager
    qproperty-icon: url(qss:images_dark-light/stop.png);
}

QTreeView::branch#groupsTreeView:closed:has-children:has-siblings  {
    border-image: none 0;
  }

  QTreeView::branch#groupsTreeView:open:has-children:has-siblings  {
    border-image: none 0;
  }

  QTreeView::branch#groupsTreeView:open:has-children:!has-siblings  {
   border-image: none 0;
  }

  QTreeView::branch#groupsTreeView:has-children:!has-siblings:closed  {
    border-image: none 0;
  }

  QTreeView::branch#groupsTreeView:has-siblings:!adjoins-item  {
    border-image: none 0;
  }
