* {
    padding: 0px;
    margin: 0px;
    border: 0px solid transparent;
    border-radius: $cornerRadius;
    border-image: none;
    outline: 0;
    // color: $textPrimary;
    background-color: $surfaceBase;
    dialogbuttonbox-buttons-have-icons: 0;
}
