//dark color variables
$primaryText: #dee2e6;
$inverseText: #f8f9fa;
$primaryBackground: #212529;
$secondaryBackground: #1a1e22;
$controlWidgetBackground: #495057;
$accentBackground: #1f364d;
$accentBorder: #264b69;
$contrastBorder: #495057;
$standardBorder: #292f35;
$secondaryText: #adb5bd;
$disabledText: #495057;
$selectedElement: #339af0;
$tooltipBackground: #1c7ed6;