//light color variables
$primaryText: #000000; //#212529; // different text colors may be deprecated in the future
$inverseText: #000000;
$primaryBackground: #dee2e6;
$secondaryBackground: #f1f3f5;
$controlWidgetBackground: #ced4da;
$accentBackground: #a5d8ff;
$accentBorder: #1c7ed6;
$contrastBorder: #868e96;
$standardBorder: #a3a8ad;
$secondaryText: #495057;
$disabledText: #868e96;
$selectedElement: #74c0fc;
$tooltipBackground: #a5d8ff;