//light color variables
$primaryText: #212529;
$inverseText: #000000;
$primaryBackground: #ced4da;
$secondaryBackground: #dee2e6;
$controlWidgetBackground: #adb5bd;
$accentBackground: #a5d8ff;
$accentBorder: #339af0;
$contrastBorder: #868e96;
$standardBorder: #a3a8ad;
$secondaryText: #495057;
$disabledText: #868e96;
$selectedElement: #74c0fc;
$tooltipBackground: #a5d8ff;