//light color variables
$primaryText: #212529;
$primaryBackground: #ced4da;
$secondaryBackground: #dee2e6;
$controlWidgetBackground: #adb5bd;
$accentBackground: #5ca0d6;
$accentBorder: #3d7eb5;
$contrastBorder: #868e96;
$standardBorder: #a3a8ad;
$secondaryText: #495057;
$disabledText: #868e96;
$selectedTab: #4d9ce5;