//dark color variables
$main-bg: #212529;
$main-txt: #dee2e6;
$contrast-bg: #1a1e22;
$control-bg: #495057;
$accent-bg: #1f364d;
$accent-border: #264b69;
$softborder: #292f35;
$hardborder: #495057;
$softtext: #adb5bd  ;
$disabledtext: #495057;
$selectedtab: #339af0;

// light color variables
// $main-bg: #dee2e6;
// $main-txt: #1a1e22;
// $contrast-bg: #f1f3f5;
// $control-bg: #adb5bd;
// $accent-bg: #4dabf7;
// $accent-border: #1c7ed6;
// $softborder: #ced4da;
// $hardborder: #868e96;
// $softtext: #343a40;
// $disabledtext: #868e96;
// $selectedtab: #339af0;